@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;
@use "../utilities/typography" as *;

.about-bg {
    background-color: $black-color;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    height: 75vh;
    max-width: 37rem;

    h2 {
        font-size: 1.5rem;
    }

    p {
        text-align: start;
    }
}

@media (max-width: 20rem) {
    .about {
        margin: 1rem;
        font-size: 1.25rem;

        h2 {
            font-size: 1.25rem;
        }
    }
}



