@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;
@use "../utilities/typography" as *;

.about-bg {
    background-color: $black-color;
}

.about {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    max-width: 40rem;
    padding: 1.5rem;

    flex: 1 0 auto; /* content takes up remaining space */
    overflow-y: auto; 

    h2 {
        font-size: 1.875rem;
    }

    p {
        text-align: start;
    }
}

@media (max-width: 20rem) {
    .about {
        font-size: 1.25rem;

        h2 {
            font-size: 1.25rem;
        }
    }
}

.tmdb-attr {
    align-items: center;
}

.tmdb-para {
    font-weight:lighter;
    font-size: 1.1rem;
    margin-top: 3.5rem;
}

.tmdb-logo {
    max-width: 3.5rem;
    align-items: center;
    margin-top: 1rem;
}

