@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;
@use "../utilities/typography" as *;

.backdrop-movie {
    display: none;
    margin-top: -1rem;
}

.poster-movie {
    width: 18.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1.25rem;
}

.title-detail {
    color: white;
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
}

.date-detail {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 1rem;
}

.p-detail {
    font-size: 1.2rem;
    margin: 1.5rem 1rem;
}

.rating-detail {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid lightgreen;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    width: 3.75rem;
    height: 3.75rem;
    line-height: 3.375rem;
    box-shadow: 0 0 0 3px lightgreen;
    display: flex;
    align-items: center;
    margin: 1rem auto;
}

.rating-value {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 51.25em) {
    .backdrop-movie {
        display: block;
        object-view-box: inset(0% 0% 51.25em 0%);

    }

    .poster-movie {
        margin-top: -10rem;
        width: 14rem;
    }

    .title-detail {
        font-size: 4.5rem;
    }

    .date-detail {
        font-size: 1.2rem;
        text-align: start;
        margin-left: 1rem;
    }

    .movie-info {
        margin: 3.4rem 7.5rem 6.5rem;
    }
}
