@use "../utilities/vars" as *;

header {
    background-color: $red-color;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;

    .logo-svg {
        width: 12rem;
        padding: 0.5rem;
    }

    .hamburger-menu-svg {
        width: 4rem;
        padding: 0.5rem;
        display: block; // Default to showing the hamburger menu

        @media (min-width: 20em) {
            display: none; // Hide the hamburger menu for screens wider than 320px
        }
    }

    .nav-links {
        font-family: $font;
        font-size: 1.7rem;
        font-weight: 600;
        width: 100%;
        background-color: $red-color;
        text-align: center;
        margin: 2rem;

        .nav-list {
            display: flex;
            padding: 0.2rem 0.6rem;
            margin: 2rem;
            width: fit-content;
            margin: 0 auto;
        }

        @media (min-width: 20em ) {
            display: flex; // Always show the nav links for screens wider than 320px
            justify-content: space-around;
            margin: 0;
            width: auto;
            background-color: transparent;
        }
    }

    .menu-open .nav-links {
        display: block; // Ensure the nav links are displayed when the menu is open on smaller screens
    }
}
