@use "../utilities/vars" as *;

header {
    background-color: $red-color;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;   //i added this

    .logo-svg {
        max-width: 40%;
        padding: 0.5rem;
    }
    .hamburger-menu-svg {
        width: 5rem;
        padding: 0.5rem;
    }
    .nav-links {
        font-family: $font;
        font-size: 2rem;
        font-weight: 600;
        width: 100%;
        background-color: $red-color;
        text-align: center;
        margin: 2rem;

        li {
            padding: 0.2rem 0.6rem;
            margin: 2rem;
            // border-bottom: solid 3px $black-color;
            width: fit-content;
            margin: 0 auto;
        }
    }
}