@use "../utilities/vars" as *;

// Mixins

// Margin center...
@mixin mc($set-tb: false, $t: 0, $b: 0) {
    @if($set-tb){
        margin: {
            top: $t;
            bottom: $b;
            left: auto;
            right: auto;
        }
    }@else {
        margin: {
            left: auto;
            right: auto;
        }
    }
}

@mixin flatten($is-list: false, $is-text: true) {
    margin: 0;
    padding: 0;
    @if($is-list: true){
        list-style: none;
    }
    @if($is-text) {
        line-height: 1;
    }
    
}

@mixin mq($w){
    @media (min-width: $w){
        @content;
    }
}

// flex
@mixin flex-sb {
    display: flex;
    justify-content: space-between;
  }
  
@mixin flex-sb-ac {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
@mixin flex-sa {
    display: flex;
    justify-content: space-around;
  }
  
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


//   fonts
@mixin footer-font {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
  }